
127.0.0.1	localhost

{% for h in groups['db_nodes'] %}
{{ hostvars[h].get('private_ip', hostvars[h].ansible_host) + ' ' + hostvars[h].inventory_hostname }}
{% endfor %}

{% for h in groups['backend_nodes'] %}
{{ hostvars[h].get('private_ip', hostvars[h].ansible_host) + ' ' + hostvars[h].inventory_hostname }}
{% endfor %}
