{
  "Node": "postgres-primary",
  "Address": "{{ private_ip | default(ansible_host) }}",
  "NodeMeta": {
    "external-node": "true",
    "external-probe": "true"
  },
  "Service": {
    "ID": "postgres",
    "Service": "postgres"
  }
}


